.img-background
{
	background-image: url(img/image1.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background2
{
	background-image: url(img/image2.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background3
{
	background-image: url(img/image3.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background4
{
	background-image: url(img/image4.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background5
{
	background-image: url(img/image5.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background6
{
	background-image: url(img/image6.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background7
{
	background-image: url(img/image7.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background8
{
	background-image: url(img/image8.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background9
{
	background-image: url(img/image9.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background10
{
	background-image: url(img/image10.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background11
{
	background-image: url(img/image11.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background12
{
	background-image: url(img/image12.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}
.img-background13
{
	background-image: url(img/image13.png);
	width : 1000px;
	height: 1000px;
	margin: 0px auto;
}

.titre1
{
	color: red;
	font-size: 25px;
	text-align: center;
	width: 500px;
}
.fond-vert
{
	background-color: rgb(60,175,60);
}
.bouton1
{
	width : 300px;
	height: 100px;
	margin: 100px 350px;
	font-style: bold;
	font-size: 15px;
	color: rgb(15,0,15);
	background-color: rgb(225,175,0);
}
.bouton2
{
	width : 300px;
	height: 100px;
	margin: 100px 0px 0px 0px;
	font-style: bold;
	font-size: 15px;
	color: rgb(15,0,15);
	background-color: rgb(225,175,0);
}
.bouton3
{
	width : 300px;
	height: 100px;
	margin: 100px 0px 0px 0px;
	font-style: bold;
	font-size: 15px;
	color: rgb(15,0,15);
	background-color: rgb(225,175,0);
	float: right;
}
.introduction
{
	text-align: justify;
	margin: 25px;
	font-size: 23px;
	text-shadow: 2px 0  rgb(216, 200, 131), 2px 2px 0 rgb(216, 200, 131), 0 2px 0 rgb(216, 200, 131), -2px 2px 0 rgb(216, 200, 131), -2px 0 0 rgb(216, 200, 131), -2px -2px 0 rgb(216, 200, 131), 0 -2px 0 rgb(216, 200, 131);
	color: rgb(0, 0, 0);
}
.paragraphe
{
	text-align: justify;
	padding: 25px;
	font-size: 25px;
	text-shadow: 2px 0  rgb(216, 200, 131), 2px 2px 0 rgb(216, 200, 131), 0 2px 0 rgb(216, 200, 131), -2px 2px 0 rgb(216, 200, 131), -2px 0 0 rgb(216, 200, 131), -2px -2px 0 rgb(216, 200, 131), 0 -2px 0 rgb(216, 200, 131);
	color: rgb(0, 0, 0);
}
.pdf
{
	margin-top:150px;
}
.center
{
	text-align: center;
}

